body {
    text-align: center;
    background-color: #011F3F;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  3%;
    padding: 2%;
    color: #FEF2BF;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin:  3%;
    padding: 2%;
    color: #FEF2BF;
}

.crystal-image {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    padding: 10px;
}

